<h1>SWAPI</h1>

<div class="container">
    
<table class="table">
<tr>
    <td>
        <button routerLink="/films" class="btn-lg btn-primary btn-block">Films</button>
    </td>
    <td>
        <button routerLink="/people" class="btn-lg btn-primary btn-block">People</button>
    </td>
 
</tr>
<tr>
    <td>
        <button routerLink="/planets" class="btn-lg btn-primary btn-block">Planets</button>
    </td>
    <td>
        <button routerLink="/species" class="btn-lg btn-primary btn-block">Species</button>
    </td>
</tr>
<tr>

    <td>
        <button routerLink="/starships" class="btn-lg btn-primary btn-block">Starships</button>
    </td>
    <td>
        <button routerLink="/vehicles" class="btn-lg btn-primary btn-block">Vehicles</button>
    </td>
</tr>
</table>

</div>
